spring:
  profiles:
    active: local
  threads:
    virtual:
      enabled: true
  servlet:
    multipart:
      enabled: false
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  web:
    resources:
      chain:
        compressed: true
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        default_batch_fetch_size: 1000
    open-in-view: false
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
server:
  port: 8000
  compression:
    enabled: true
  http2:
    enabled: true
  servlet:
    session:
      cookie:
        name: JSESSIONID_DEMO
decorator:
  datasource:
    p6spy:
      logging: slf4j
      multiline: true
sentry:
  dsn:
  traces-sample-rate: 0
jwt:
  secret: ${JWT_SECRET:JOONY.KIM!!demo-api%%jwt^^secret}
  access-token-expiration-minutes: 5
  refresh-token-expiration-minutes: 30
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: ${DB_URL:jdbc:mysql://stkim.ddns.net:3306/studydb?useSSL=false&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull}
    username: ${DB_USERNAME:studydb}
    password: ${DB_PASSWORD:studydb%#123}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 3
      minimum-idle: 2
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
server:
  port: 8000
sentry:
  logging:
    enabled: false
environment:
  app:
    test: test
jwt:
  access-token-expiration-minutes: 1440
---
spring:
  config:
    activate:
      on-profile: sandbox
  datasource:
    url:
    username:
    password:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
sentry:
  environment: sandbox
jwt:
  access-token-expiration-minutes: 1440
---
spring:
  config:
    activate:
      on-profile: qa
  datasource:
    url:
    username:
    password:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
sentry:
  environment: qa
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url:
    username:
    password:
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
sentry:
  environment: prod
