name: test
on:
  push:
    branches-ignore: [ sandbox, qa ]
    tags-ignore: ['**']
jobs:
  build-and-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 1

      - name: Set up JDK 25
        uses: actions/setup-java@main
        with:
          distribution: 'corretto'
          java-version: '25'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@main
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}
          dependency-graph: disabled
          add-job-summary: never

      - name: Spotless Check and Build
        run: ./gradlew spotlessCheck assemble --no-daemon --parallel --configuration-cache --build-cache -Dspring.profiles.active=prod -x test
