name: test
on:
  push:
    branches-ignore: [ sandbox, qa ]
    tags-ignore: ['**']
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Set up JDK 21
        uses: actions/setup-java@main
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@main

      - name: Build with Gradle
        run: ./gradlew assemble --no-daemon -Dspring.profiles.active=prod -x test
